{% extends 'style.html.twig' %}

{% block body %}
    <div class="mainDiv">
        <h1>Добро пожаловать на дешевую подделку инстаграмма!</h1>
        <p>Это самый лениво сверстанный homepage, так что вам следует зарегистрироваться или войти, чтобы не видеть эту страшную верстку!</p>

        <a href="{{ path('fos_user_registration_register') }}">Зарегистрируйтесь</a> чтобы продолжить работу с сайтом.
        <p>Если вы уже зарегистрированы, то <a href="{{ path('fos_user_security_login') }}">войдите</a></p>

    </div>
{% endblock %}

