{% extends "style.html.twig" %}

{% block title %}Instagram{% endblock %}

{% block body %}
{{ parent() }}
    {% if user.followings is empty %}
        <div class="mainDiv">Ваша лента пуста. Подпишитесь на кого-то, чтобы здесь появились посты</div>
    {% endif %}
    {% for follower in user.followings %}
        {% for post in follower.posts %}
            <div class="mainDiv">
                <p class="alert alert-primary">
                    <img src="{{ asset(user_avatar_directory) }}{{ post.user.avatar }}" style="width: 30px; height: 30px; border-radius: 50%;"/>
                    <a href="{{ path('app_users_profile', {'id':post.user.id}) }}">{{ post.user.username }}</a>
                </p>
                <div class="imgDiv"><img src="{{ asset(user_image_directory) }}{{ post }}"/></div>
                {% if post.hasLiker(app.user) %}
                    <div class="mainDiv" style="text-align:left; margin: 0; padding: 5px">BlaBlaBla</div>
                {% else %}
                    <p class="likes btn btn-warning" id="{{ post.id }}">Like! ({{ post.getCountLikers }})</p>
                {% endif %}
                <div class="mainDiv" style="text-align:left; margin: 0; padding: 5px">{{ post.body }}</div>
            </div>
            <div class="comments" id="{{ post.id }}com">
                {% for comment in post.comments %}
                    <div class="comment">
                        <img src="{{ asset(user_avatar_directory) }}{{ comment.user.avatar }}" style="width: 50px"/>
                        <a href="{{ path('app_users_profile', {'id':comment.user.id}) }}">{{ comment.user.username }}</a>: {{ comment.comment }}
                    </div>
                {% endfor %}
            </div>
            <div class="input">
                <input type="text" class="form-control" style="width: 99%;" id="{{ post.id }}inp">
                <input type="submit" class="submit btn btn-primary" id="{{ post.id }}" style="margin-top:10px;" value="Комментировать">
            </div>
        {% endfor %}
    {% endfor %}

{% endblock %}
