{% extends "style.html.twig" %}

{% block title %}AppBundle:Main:newImage{% endblock %}

{% block body %}
{{ parent() }}
    {{ form_start(form) }}
    <div class="mainDiv">

        <div class="form-group">
            {{ form_row(form.body,{'attr' : {'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.imageFile,{'attr' : {'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(form.save) }}
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
