<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
              integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script>
            $('.likes').one('click', function () {
                $.get('/pluslike', {id: this.id}, function (images) {
                    $('#' + images.imageId).html('Liked! ('+images.likes+')')
                });
            });
            $('.dislikes').one('click', function () {
                $.get('/dislike', {id: this.id}, function (images) {
                    $('#' + images.imageId).html('Disliked! ('+images.likes+')')
                });
            });
            $('.submit').on('click', function () {
                let id = this.id;
                let value = $('#'+id+'inp').val();
                if(value.trim()) {
                    $.get('comment/new', {value: value, id: id}, function (data) {
                        $('#'+id+'com').append($('<div class="comment"><img src="'+data.image+'" style="width: 50px"/> '
                            + data.author + ': ' + data.comment + '</div>'))
                    });
                }
            });
        </script>
    </body>
</html>
