{% extends "base.html.twig" %}

{% block title %}AppBundle:Pages:header{% endblock %}

{% block stylesheets %}
    <style>
        body{
            background: lightyellow !important;
        }
        header{
            position:sticky;
            top:0;
            z-index: 10;
        }
        .btn-secondary{
            padding: 2px 5px !important;
        }
        .nav{
            padding: 4px;
            background: #ebebeb;
            border-bottom: 2px solid #b0b0b0;
            text-align: center;
        }
        .navBtn li{
            margin: 5px;
            float: left;
        }
        .navBtn{
            float: right
        }
        .avatar{
            float:left;
            width: 200px;
            height: 200px;
            padding: 30px;
        }
        .info{
            text-align: left !important;
        }
        .avatar img{
            border-radius: 50%;
        }
        .mainDiv{
            border: 3px solid silver;
            border-radius: 2%;
            background: white;
            max-width: 650px;
            text-align: center;
            padding: 20px 10px 20px;
            margin: 20px auto 0;
            word-wrap: break-word;
        }
        .mainDiv img{
            width: 80%;
            height: 333px;
        }
        .comments{
            border: 2px solid lightblue;
            background: lightgray;
            max-width: 450px;
            margin: 0 auto;
            padding: 3px;
            text-align: left;
        }
        .input{
            border-radius: 3%;
            background: lightgray;
            max-width: 400px;
            margin: 0 auto 30px;
            padding: 5px;
            text-align: center;
        }
        .comment{
            border: 2px solid silver;
            border-radius: 2%;
            background: white;
            margin: 5px 0;
        }
        .comment img{
            border-radius: 50%;
        }
        .imgDiv img{
            width: 99%;
            margin: 5px;
        }
    </style>
{% endblock %}
{% block body %}
    <header>
        <ul class="nav justify-content-center align-items-center">
            <form action="{{ path('app_main_search') }}">
                <input type="text" style="display: inline-block;" name="name" placeholder="Поиск">
                <input type="submit" value="Найти" class="btn btn-secondary" style="display: inline">
            </form>
            <div class="navBtn">
                <li><a href="{{ path('app_main_index') }}" >Лента</a> | </li>
                <li><a href="{{ path('app_users_profile', {'id':app.user.id}) }}">Мой профиль</a> | </li>
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('app_main_newimage') }}" >Добавить картинку</a> |</li>
                {% endif %}
                <li><a href="{{ path('fos_user_security_logout') }}" >Выйти</a> </li>
            </div>
        </ul>
    </header>

{% endblock %}
