{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="form-group">
        {{ form_row(form.username,{'attr' : {'class':'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.email,{'attr' : {'class':'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.plainPassword.first,{'attr' : {'class':'form-control'}}) }}
        {{ form_row(form.plainPassword.second,{'attr' : {'class':'form-control'}}) }}
    </div>
        {{ form_row(form.imageFile ,{'attr' : {'class':'form-control'}}) }}
    <input type="submit" style="margin-top: 10px;" class="btn btn-primary" value="Зарегистрироваться"/>
    {{ form_end(form) }}
</div>
