<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
              integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    </head>
    <style>
        BODY{
            margin: 0;
            background: lightyellow
        }
        .mainDiv{
            border: 5px solid silver;
            border-radius: 2%;
            max-width: 500px;
            background: white;
            text-align: center;
            padding: 20px 10px 20px;
            margin: 20px auto 30px;
        }
    </style>
    <body>
        <div class="mainDiv">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('app_main_index') }}">Лента</a>
                <a href="{{ path('app_users_profile', {'id':app.user.id}) }}">Мой профиль</a> |
                <a href="{{ path('fos_user_security_logout') }}">Выйти</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">Войти </a>
                <a href="{{ path('homepage') }}">На главную</a>
            {% endif %}


        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        </div>

        <div class="mainDiv">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>
</html>
