{% extends "style.html.twig" %}

{% block title %}Подписчики/Подписки{% endblock %}

{% block body %}
{{ parent() }}
    {% if users is not empty %}
        <div class="mainDiv">
            {% for user in users %}
                <div style="margin: 10px;">
                    <img src="{{ asset(user_avatar_directory) }}{{ user.avatar }}" style="width: 50px; height: 50px; border-radius: 50%;"/>
                    <a href="{{ path('app_users_profile', {'id':user.id}) }}" >{{ user.username }}</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="mainDiv">У вас нет Подписчиков/Подписок.</div>
    {% endif %}

{% endblock %}
