{% extends "style.html.twig" %}

{% block title %}Понравившиеся посты{% endblock %}

{% block body %}
{{ parent() }}
    {% if posts is empty %}
        <div class="mainDiv">У вас нет понравившихся постов. Поставьте "Like" посту и он тут появится</div>
    {% endif %}
    {% for post in posts %}
        <div class="mainDiv">
            <p class="alert alert-primary">
                <a href="{{ path('app_users_profile', {'id':post.user.id}) }}">{{ post.user.username }}</a>
            </p>
            <div class="imgDiv"><img src="{{ asset(user_image_directory) }}{{ post }}"/></div>
            <p class="likes btn btn-warning" id="{{ post.id }}">Like! ({{ post.getCountLikers }})</p>
            <div class="mainDiv" style="text-align:left; margin: 0; padding: 5px">{{ post.body }}</div>
        </div>
    {% endfor %}

{% endblock %}
