{% extends "style.html.twig" %}

{% block title %}Профиль {{ user.username }}{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="mainDiv">
        <div class="avatar"><img style="width: 100px; height: 100px" src="{{ asset('images/avatars/' ) }}{{ user.avatar }}" /></div>
        <div class="info">
            <span>Username : {{ user.username }}</span>
            {% if user.id != app.user.id %}
                {% if user_session in user.follower %}
                    <input type="button" class="unfollow btn btn-danger" value="Отписаться" id="{{ user.id }}" style="margin-bottom: 10px; float: right;">
                {% else %}
                    <input type="button" class="follow btn btn-success" value="Подписаться" id="{{ user.id }}" style="margin-bottom: 10px; float: right;">
                {% endif %}
            {% endif %}
            <p>Email : {{ user.email }}</p>
            <p><a href="{{ path('app_users_followers', {'id': user.id }) }}">Подписчики</a></p>
            <p><a href="{{ path('app_users_followings', {'id': user.id }) }}">Подписки</a></p>
            <p><a href="{{ path('app_main_likedposts', {'id': user.id }) }}">Понравившиеся посты</a></p>
        </div>
    </div>
    <h4 style="text-align: center; margin: 10px">{{ user.username }}'s posts</h4>
    {% if user.posts is empty %}
        <div class="mainDiv">У вас нет постов. Вы можете добавить свой пост по <a href="{{ path('app_main_newimage') }}" >ссылке</a></div>
    {% endif %}
    {% for post in user.posts %}
        <div class="mainDiv">
            <p class="alert alert-primary">
                <a href="{{ path('app_users_profile', {'id':post.user.id}) }}">{{ post.user.username }}</a>: {{ post.body }}
            </p>
            <div class="imgDiv"><img src="{{ asset(user_image_directory) }}{{ post }}"/></div>
            {% if post.hasLiker(app.user) %}
                <p class="dislikes btn btn-warning" id="{{ post.id }}">Dislike! ({{ post.getCountLikers }})</p>
            {% else %}
                <p class="likes btn btn-warning" id="{{ post.id }}">Like! ({{ post.getCountLikers }})</p>
            {% endif %}
        </div>
        <div class="comments" id="{{ post.id }}com">
            {% for comment in post.comments %}
                <div class="comment">
                    <img src="{{ asset(user_avatar_directory) }}{{ comment.user.avatar }}" style="width: 50px"/>
                    <a href="{{ path('app_users_profile', {'id':comment.user.id}) }}">{{ comment.user.username }}</a>: {{ comment.comment }}
                </div>
            {% endfor %}
        </div>
        <div class="input">
            <input type="text" class="form-control" style="width: 99%;" id="{{ post.id }}inp">
            <input type="submit" class="submit btn btn-primary" id="{{ post.id }}" style="margin-top:10px;" value="Комментировать">
        </div>
    {% endfor %}
{% endblock %}
{% block javascripts %}
    <script>
        $('.follow').on('click', function () {
            $.get('/users/follow', {id: this.id}, function (images) {
                $('.follow').attr({
                    'class' : 'unfollow btn btn-info',
                    'value' : 'Вы подписаны'
                });
            });
        });
        $('.unfollow').on('click', function () {
            $.get('/users/unfollow', {id: this.id}, function (images) {
                $('.unfollow').attr({
                    'class' : 'btn btn-info',
                    'value' : 'Вы отписаны'
                });
            });
        });
        $('.submit').on('click', function () {
            let id = this.id;
            let value = $('#'+id+'inp').val();
            if(value.trim()) {
                $.get('comment/new', {value: value, id: id}, function (data) {
                    $('#'+id+'com').append($('<div class="comment"><img src="'+data.image+'" style="width: 50px"/> '
                        + data.author + ': ' + data.comment + '</div>'))
                });
            }
        });
    </script>
{% endblock %}
